span {
    display: inline-block;
}

.home_container {
    /* animation: fadeIn 1s ease-out 0s 1 forwards; */
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.greeting_container {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting {
    white-space: nowrap;
    overflow: hidden;
    border-right: 10px solid green;
    width: var(--chars)ch;
    letter-spacing: 0.23em;
    animation:
        typing 2.5s steps(var(--chars)) forwards,
        blink 1s step-end 2.5s infinite;
    text-shadow:
        /* Top */
        0 0px 20px #00ff1a,
        /* Bottom */
        0 0px 0px #00ff1a,
        /* Left */
        0px 0 0px #00ff1a,
        /* Right */
        0px 0 0px #00ff1a;
    text-align: center;
    margin-bottom: 1rem;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: rgb(0, 71, 4);
    }
}

/* @keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */

.main_container {
    box-sizing: border-box;
    width: 100%;
    padding: 0px 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.action_container {
    border: 1px solid green;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    height: 55px;
}

.svg_container {
    height: 30px;
    flex-shrink: 0;
}

.folder_files_container {
    border: 1px solid green;
    flex-grow: 1;
    flex-basis: 100%;
    margin-bottom: 3rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 150px));
    grid-auto-rows: min-content;
    align-items: center;
}

.folder_files_div {
    margin: 20px 20px 0px 20px;
    transition: box-shadow, background-color 0.25s ease-out;
}

.folder_files_div:hover {
    box-shadow: 1px -1px 100px rgb(6, 45, 6);
    background-color: rgb(6, 45, 6)
}

.folder_files_div>img {
    margin-bottom: 5px;
}

.folder_files_name_div,
.folder_files_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.folder_files_name_div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.folder_files_div>*,
.folder_files_div, .directory {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

.action_container,
.folder_files_container {
    box-shadow: 1px -1px 100px green;
}


.directory {
    box-sizing: border-box;
    border: 1px solid green;
    margin: 0px 10px;
    padding: 0px 5px;
    flex-grow: 1;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
}

.folder,
.file {
    font-size: 0.75rem;
    flex-shrink: 0;
}